.profile-card {
  width: 50%;
  margin: 2rem auto;
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  font-family: sans-serif;
  display: flex;
  flex-direction: column; /* 세로 배치 */
  height: 100%;
  gap: 25px;
}

.infodiv {
  width: 100%;
  display: flex;
  height: calc(100vh - 120px); /* GNB + NaviTap + Footer 제외 높이 */
}

.profile-avatar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ddd;
  height: 320px;
  border-radius: 1500px;
}
.avatar-info{
  margin-top: 50px;
  height:320px;
  justify-items: center;
}

.imgdiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-main {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column; /* 세로 정렬 */
}

.profile-info {
  flex: 7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem 0;
  
}

.navbutton {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
}

.edit-form label {
  font-size: 14px;
  color: #333;
}

.edit-form input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-top: 0.2rem;
}

.btn {
  margin-top: 1.5rem;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}
