.admin-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px; /* 좌우 패딩 추가 */
}

.header-left-section, .header-right-section {
    display: flex;
    align-items: center;
    gap: 15px; /* 요소 사이의 간격 */
}

.user-info {
    color: white; /* 텍스트 색상 */
    font-weight: bold;
}

.logout-btn {
    background-color: transparent;
    border: none;
    color: white;
    padding: 0;
}

.logout-btn:hover {
    text-decoration: underline;
}

.admin-header-hamburger {
    display: none; /* Hidden by default on larger screens */
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white; /* Adjust color to match header */
}

@media (max-width: 767px) {
    .admin-header-hamburger {
        display: block; /* Show on smaller screens */
    }
    .user-info {
        display: none; /* 작은 화면에서는 사용자 정보 숨기기 (선택 사항) */
    }
}
