.dashboard {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 24px;
    /* max-width: 900px; */ /* Remove max-width to allow full width */
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
    padding-right: 30px;
    padding-left: 30px;
}
.card {
    background: #fef8f8;
    padding: 32px 24px;
    border-radius: 14px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px;
}
.card-title {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 16px;
}
.card-content {
    font-size: 2rem;
    color: #2d3a60;
    font-weight: 600;
    margin-bottom: 10px;
}
.card-desc {
    color: #848e9c;
    font-size: 0.95rem;
    margin-bottom: 10px;
}
.card-action {
    margin-top: auto;
    font-size: 0.97rem;
    color: #337ae6;
    text-decoration: underline;
    cursor: pointer;
    align-self: flex-end;
}
@media (max-width: 640px) {
    .dashboard {
        grid-template-columns: 1fr;
    }
}
